@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;1,500&display=swap');
*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family:'Poppins',sans-serif;

}
.profile-picture{
 display:flex;
 justify-content:flex-start;
}
header{
    
    display: flex;
    justify-content:space-between;
    
}


.name{
    display: fle;
    color: rgb(107, 62, 62);
    padding-left: 8px;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 1.5px;
    height:50px;
    line-height: 50px;
}

ul{
    display:flex;
   
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 1.5px;
    list-style-type: none;
    height:50px;
    line-height: 50px;
    
}
img{
    display: flex;
}

a{
    display: flex;
}
li{
    display: flex;
    margin-right: 20px;

}
.about{
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
}
.description{
    margin-left:145px;
}
.work{
    display: flex;
        
}
.contact-me{
    display: flex;
}
.gallery{
    display: flex;
    margin-left: 145px;
    width:300px;
    height:200px;
    
}
.galleryimg:hover{
    transform: scale(1.1);
    z-index:2;
}
img{
    display: flex;
    padding:10px
}


footer{
    padding-top:20px;
    display: flex;
    justify-content: space-between;
}
.contact{
    display: flex;
}


